<h1 class="result-head">Current disturbances on the rail network</h1>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th class="table-head">Title</th>
                <th class="table-head">Description</th>
            </tr>
        </thead>
        <tbody>
            <% disturbContent.forEach(trainDisturbance => { %>
                <tr> 
                    <td> <%= trainDisturbance.title %> </td>
                    <td> <%- trainDisturbance.richtext %> </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>