<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Disney Public API</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>

    <body class="main-page">
        <h1 class="title">Disney Characters</h1>
        <input type="text" placeholder="Search for a character" class="form-control mb-3" oninput="searchCharacter(this)" value="<%= search %>">

        <div> <%- include('characters.ejs') %> </div>

        <% if (locals.other) { %>
            <div class="footer"> 
                <div class="uppercase arrow" onclick="switchPage(this)" switch-link="<%= other.previousPage %>">←   Previous</div>
                <div class="uppercase arrow" onclick="switchPage(this)" switch-link="<%= other.nextPage %>">Next   →</div>
            </div>
        <% } %>

        <script src="js/bootstrap.bundle.min.js"></script>

        <script>
            function switchPage(event) {
                const link = event.getAttribute('switch-link');
                const index = link.indexOf('?');
                window.location.href = `/characters?api=${link.slice(index)}`;
            }

            let timer;
            function searchCharacter(event) {
                clearTimeout(timer);
                timer = setTimeout(() => {
                    if(event.value.length !== 0)
                        window.location.href = `/characters?api=${'?name=' + event.value}`;
                    else
                        window.location.href = '/';
                }, 500);
            }
        </script>
        
    </body>
</html>