.main-page {
    background-color: #FBBE4F;
    padding: 2rem;
    color: #272727;
    margin: 1rem;
    font-family: fantasy;
}


.title {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
}

button {
    font-size: 1rem;
    background: #E1E1E1;
    border: #272727 solid 0.125rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.25rem;
}

.character-card-box {
    box-sizing: border-box; 
    display: grid; 
    grid: auto auto auto; 
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.center-text {
    text-align: center;
    font-family: fantasy;
    color: #272727 !important;
}

.transparent-background {
    background-color: transparent !important;
    border-style: dotted !important;
    border-width: 0.125rem !important;
    margin-bottom: 1rem !important;
    padding: 0.5rem !important;
}

.image-aspect {
    aspect-ratio: 2/2;
    margin-bottom: 0.5rem;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}  

.uppercase {
    text-transform: uppercase;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow {
    cursor: pointer;
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.yellow-colour {
    background-color: #FBBE4F !important;
}